body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font sise: 20px;
	line-height: 30px;
}

header{
	background-color: lightseagreen;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,h2 {

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid orange;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: orange;
	margin: 40px 0 10px;
}

a{
	color: orange;
}
a:hover{
	color: lightseagreen;
}

footer{
	background-color: lightseagreen;
	text-align: center;
	color: white;

footer a{
	color: white;
}
footer a: hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
}
